$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

.logo {
    padding: 14px 14px;
    border-width: 1px;
    border-radius: 50%;
    border-style: dashed;
    border-color: #000;
    height: 45px;
    position: relative;

    &:before {
        @extend .logo;
        content: "";
        width: 26px;
        display: block;
        height: 26px;
        position: absolute;
        top: -6px;
        left: -6px;
    }
}